<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Insight 6</title>

    <!-- Bring in our bootstrap stylesheets -->

    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <!-- Local css stylesheet  -->
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="bootstrap.css">

</head>

<body>

    <!-- NAV BAR -->
    <!-- Includes expand settings for small vs large screens -->
    <!-- Small screens display a drop down box to display navigation options -->
    <!-- Large screens display all navigation options individually along the nav bar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="data.html">The Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="insight1.html">Insight 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="insight2.html">Insight 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="insight3.html">Insight 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="insight4.html">Insight 4</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="insight5.html">Insight 5</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="insight6.html">Insight 6</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- COMPLETE - NAV BAR -->


    <!-- GRID / PAGE LAYOUT -->

    <div class="container">

        <!-- Row 1 -->
        <div class="row">
            <div class="col">

                <h1> <br><br> Insight 6 Title <br> </h1>

                <div class="img-fluid">
                    <img src="****.png" class="col-md-8 float-md-end" alt="****">
                </div>

                <p> <br> Text describling insight 6<br> <br>

            </div>

        </div>
    </div>

    <!-- COMPLETE - GRID / PAGE LAYOUT -->

</body>

<!-- PAGE FOOTER -->
<footer>
    <div class="container">

        <!-- Row 1 -->
        <div class="row">
            <div class="col-md-12">
                <center>
                    <br><br>

                    <a href="https://github.com/MorganMaciupa " class="link">See more work from Morgan at her Git
                        Hub</a><br>
                    <a href="https://github.com/FaresKazemi" class="link">See more work from Karin at his Git
                        Hub</a><br>
                    <a href="https://github.com/Carly-Jane" class="link">See more work from Carly at her Git Hub</a><br>


                    <br>
                </center>
            </div>
        </div>

    </div>
</footer>

<!-- COMPLETE - PAGE FOOTER -->

</html>